set -gx UV_TOOL_BIN_DIR "{{ cursor_local_bin_dir }}"
set -gx UV_TOOL_DIR "{{ cursor_uv_tool_dir }}"
set -gx BUN_INSTALL "{{ cursor_bun_install_root }}"
set -gx VOLTA_HOME "{{ cursor_volta_home }}"

if not contains -- "{{ cursor_volta_bin_dir }}" $PATH
    set -gx PATH "{{ cursor_volta_bin_dir }}" $PATH
end

if not contains -- "{{ cursor_bun_bin_dir }}" $PATH
    set -gx PATH "{{ cursor_bun_bin_dir }}" $PATH
end

if not contains -- "{{ cursor_local_bin_dir }}" $PATH
    set -gx PATH "{{ cursor_local_bin_dir }}" $PATH
end
